/Lab1Moviles/build/
/Lab1Moviles/nbproject/private/
/Lab1_back_end/dist/
/lab1_Front_End/Lab1_front_end_desktop/nbproject/private/
/lab1_Front_End/Lab1_front_end_desktop/build/
/Lab1_Front_End2/Lab1Moviles/build/
/Lab1_Front_End2/Lab1Moviles/nbproject/private/
/Lab1_Front_End2/Lab1_front_end_desktop/nbproject/private/
/Lab1_Front_End/Lab1Moviles/build/
/Lab1_Front_End/Lab1Moviles/nbproject/private/
/Lab1_Front_End/Lab1_front_end_desktop/nbproject/private/
/Lab1_Front_End_2/Lab1Moviles/build/
/Lab1_Front_End_2/Lab1Moviles/nbproject/private/
/Lab1_Front_End_2/Lab1_front_end_desktop/nbproject/private/